# Virtual Environment
.venv/
venv/
env/

# IDE Files
.idea/
.vscode/
*.iml

# Python Cache
__pycache__/
*.py[cod]
*.pyo

# OS Files
.DS_Store
Thumbs.db

# Jupyter Notebooks Checkpoints
.ipynb_checkpoints/
